h1.title  {
    display: none; }

.note-entry {
    margin-bottom: 0.25rem !important; }

@media (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }
}

img.p-teaser {
    float: left !important;
    width: 80px;
    margin-right: 1.5rem !important; }

h3.p-title {
    font-size: 24px; }

p.creator {
    text-align: center;
}
